<div class="showdown row">
  <h1>The <em><%= @showdown.theme %></em> Showdown</h1>

  <h3><strong>Voting Ends On:</strong> <%= @showdown.end_date %> </h3>

  <span class="showdown-actions"> 
    <%= link_to 'Submit Proof', new_showdown_submission_path(@showdown), class: 'action btn btn-lg btn-primary', role: 'button'  %>
  </span>
</div>
<div class='current-submissions row'>
TESTING
</div>