/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$navbar-background: #F37321;
$header-text: white;
$footer-text: white;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100%;
  position: ralative;
}

#header {
  
}

#content {
  padding-bottom: 3em;
}

#footer {
  width: 100%;
  line-height: 3em;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $navbar-background;
  color: $footer-text;
  text-align: center;
  vertical-align: middle;
}


header {
  background-color: $navbar-background;
}

.navbar {
  a {
    color: $header-text;
  }
  a:hover {
    background-color:transparent;
    color: $header-text;
  }
}

a:visited.btn {
  color: $header-text;
}